<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>Controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPIDServlet</servlet-name>
        <servlet-class>Controller.SetPIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemServlet</servlet-name>
        <servlet-class>Controller.SearchItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetItemServlet</servlet-name>
        <servlet-class>Controller.SetItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeBillOfMaterialsServlet</servlet-name>
        <servlet-class>Controller.EncodeBillOfMaterialsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>Controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPDIDServlet</servlet-name>
        <servlet-class>Controller.SetPDIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetProductServlet</servlet-name>
        <servlet-class>Controller.SetProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSupplierPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller.EncodeSupplierPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSPOServlet</servlet-name>
        <servlet-class>Controller.SetSPOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeConsumptionReportServlet</servlet-name>
        <servlet-class>Controller.EncodeConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <servlet-class>Controller.SearchSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemSuppliersServlet</servlet-name>
        <servlet-class>Controller.SearchItemSuppliersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSupplierItemServlet</servlet-name>
        <servlet-class>Controller.SetSupplierItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubPOServlet</servlet-name>
        <servlet-class>Controller.SetSubPOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDONumberServlet</servlet-name>
        <servlet-class>Controller.SetDONumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDRNumberServlet</servlet-name>
        <servlet-class>Controller.SetDRNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSuppliersAndItemServlet</servlet-name>
        <servlet-class>Controller.ViewSuppliersAndItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubcontractorAndServiceServlet</servlet-name>
        <servlet-class>Controller.ViewSubcontractorAndServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <servlet-class>Controller.ViewConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetConsumptionReportServlet</servlet-name>
        <servlet-class>Controller.GetConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductsServlet</servlet-name>
        <servlet-class>Controller.SearchProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSubconServlet</servlet-name>
        <servlet-class>Controller.SearchSubconServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubconServiceServlet</servlet-name>
        <servlet-class>Controller.SetSubconServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccessoriesInventoryServlet</servlet-name>
        <servlet-class>Controller.ViewAccessoriesInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWarehouseInventoryServlet</servlet-name>
        <servlet-class>Controller.ViewWarehouseInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductionInventoryServlet</servlet-name>
        <servlet-class>Controller.ViewProductionInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBoutiqueInventoryServlet</servlet-name>
        <servlet-class>Controller.ViewBoutiqueInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderSerlvet</servlet-name>
        <servlet-class>Controller.PurchaseOrderSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubconPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller.ViewSubconPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSupplierPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller.ViewSupplierPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReconcileServlet</servlet-name>
        <servlet-class>Controller.ReconcileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryScheduleServlet</servlet-name>
        <servlet-class>Controller.DeliveryScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPIDServlet</servlet-name>
        <url-pattern>/SetPIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemServlet</servlet-name>
        <url-pattern>/SearchItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetItemServlet</servlet-name>
        <url-pattern>/SetItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeBillOfMaterialsServlet</servlet-name>
        <url-pattern>/EncodeBillOfMaterialsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPDIDServlet</servlet-name>
        <url-pattern>/SetPDIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetProductServlet</servlet-name>
        <url-pattern>/SetProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSupplierPurchaseOrderServlet</servlet-name>
        <url-pattern>/EncodeSupplierPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSPOServlet</servlet-name>
        <url-pattern>/SetSPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeConsumptionReportServlet</servlet-name>
        <url-pattern>/EncodeConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSupplierServlet</servlet-name>
        <url-pattern>/SearchSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemSuppliersServlet</servlet-name>
        <url-pattern>/SearchItemSuppliersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSupplierItemServlet</servlet-name>
        <url-pattern>/SetSupplierItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubPOServlet</servlet-name>
        <url-pattern>/SetSubPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDONumberServlet</servlet-name>
        <url-pattern>/SetDONumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDRNumberServlet</servlet-name>
        <url-pattern>/SetDRNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSuppliersAndItemServlet</servlet-name>
        <url-pattern>/ViewSuppliersAndItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubcontractorAndServiceServlet</servlet-name>
        <url-pattern>/ViewSubcontractorAndServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <url-pattern>/ViewConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetConsumptionReportServlet</servlet-name>
        <url-pattern>/GetConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductsServlet</servlet-name>
        <url-pattern>/SearchProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSubconServlet</servlet-name>
        <url-pattern>/SearchSubconServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubconServiceServlet</servlet-name>
        <url-pattern>/SetSubconServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccessoriesInventoryServlet</servlet-name>
        <url-pattern>/ViewAccessoriesInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWarehouseInventoryServlet</servlet-name>
        <url-pattern>/ViewWarehouseInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductionInventoryServlet</servlet-name>
        <url-pattern>/ViewProductionInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBoutiqueInventoryServlet</servlet-name>
        <url-pattern>/ViewBoutiqueInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderSerlvet</servlet-name>
        <url-pattern>/PurchaseOrderSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubconPurchaseOrderServlet</servlet-name>
        <url-pattern>/ViewSubconPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSupplierPurchaseOrderServlet</servlet-name>
        <url-pattern>/ViewSupplierPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReconcileServlet</servlet-name>
        <url-pattern>/ReconcileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryScheduleServlet</servlet-name>
        <url-pattern>/DeliveryScheduleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
